@{
    ViewBag.Title = "Aquatics Tide Database";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This page will show a database that users will use to store tide levels at each time of day, the direction of each underwater current, and the temperatures</p>
